/* Player Overlay */
.player-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-dark);
    z-index: 100;
    display: flex;
    flex-direction: column;
}

/* Ensure main-content is relative for absolute positioning of player */
.main-content {
    position: relative;
}